In [1]:
# 웹서버의 business logic

In [7]:
import pymysql
# 키의 매개변수 - 순서를 변경가능
con = pymysql.connect(host = "192.168.0.70", port=3306, user='root', passwd='20210422a',
                     db='future', charset='utf8', autocommit=True)
try:
    with con.cursor() as cur:
        cur.execute("select * from student")
        rows = cur.fetchall() # fetchone, fetchmany, fetchall
        desc = cur.description
        for row in rows: # list
            print(f'{row[0]},{row[1]}, {row[2]},{row[3]},{row[4]}') #f 함수
finally:
    con.close()
# 필드 이름을 확인
print(desc)
print([i[0] for i in cur.description])

1,김만덕, 100,99,99
2,고려인, 100,99,99
3,종로구, 100,80,70
4,전공인, 80,80,80
5,전공이, 80,80,80
7,하하, 50,80,70
(('bunho', 3, None, 11, 11, 0, False), ('name', 253, None, 50, 50, 0, True), ('kor', 1, None, 4, 4, 0, True), ('mat', 1, None, 4, 4, 0, True), ('eng', 1, None, 4, 4, 0, True), ('total', 3, None, 11, 11, 0, True), ('average', 4, None, 12, 12, 31, True), ('grade', 254, None, 3, 3, 0, True), ('schoolcode', 254, None, 30, 30, 0, True))
['bunho', 'name', 'kor', 'mat', 'eng', 'total', 'average', 'grade', 'schoolcode']

In [8]:
# 문제 : 학생번호를 입력받아서 쿼리를 실행 한 다음 결과를 출력하시오

In [18]:
number = input("찾으시는 학생 번호를 입력하세요.")
con = pymysql.connect(host = "192.168.0.70", port=3306, user='root', passwd='20210422a',
                     db='future', charset='utf8', autocommit=True)
try:
    with con.cursor() as cur:
        cur.execute("select * from student where bunho = "+number)
        print(f'쿼리가 영향을 미친 것은 {cur.rowcount} 개의 행')
        bunho,name,kor,mat,eng,total,average,grade,schoolcode = cur.fetchone()
        print(bunho,name,kor,mat,eng,total,average)
finally:
    con.close()

찾으시는 학생 번호를 입력하세요.3
쿼리가 영향을 미친 것은 1 개의 행
3 종로구 100 80 70 250 83.33

In [22]:
import pymysql
con = pymysql.connect(host = "192.168.0.70", port=3306, user='root', passwd='20210422a',
                     db='future', charset='utf8', autocommit=True)
person = ("typoon",100,100,100, 'CH000001')
sql = """Insert INTO student(name,kor,mat,eng,schoolcode) values(%s,%s,%s,%s,%s)"""
try:
    with con.cursor() as cur:
        cur.execute(sql,
                  (person[0],person[1],person[2],person[3],person[4]))
        cur.execute(sql,
                  ("융합",100,90,80,"CH000001"))
        con.commit()
        print("새로운 학생이 등록되었습니다.")
finally:
    con.close()

새로운 학생이 등록되었습니다.

In [13]:
import pymysql
con = pymysql.connect(host = "192.168.0.70", port=3306, user='root', passwd='20210422a',
                     db='future', charset='utf8', autocommit=True)
try:
    with con.cursor() as cur:
        cur.callproc('student_select2')
        if(cur.rowcount):
            print(cur.fetchall())
finally:
    cur.close()
    con.close()

((1, '김만덕', 100, 99, 99, 298, 99.33, 'A', 'CH000001'), (2, '고려인', 100, 99, 99, 298, 99.33, 'A', 'CH000001'), (3, '종로구', 100, 80, 70, 250, 83.33, 'B', 'IC000001'), (4, '전공인', 80, 80, 80, 240, 80.0, 'B', 'SE000001'), (5, '전공이', 80, 80, 80, 240, 80.0, 'B', 'SE000001'), (7, '하하', 50, 80, 70, 200, 66.67, 'D', 'CH000001'), (12, 'typoon', 100, 100, 100, 300, 100.0, 'A', 'CH000001'), (13, 'typoon', 100, 100, 100, 300, 100.0, 'A', 'CH000001'), (14, '융합', 100, 90, 80, 270, 90.0, 'A', 'CH000001'), (15, '에어콘', 90, 80, 100, 270, 90.0, 'A', 'CH000001'), (16, '에어콘', 90, 80, 100, 270, 90.0, 'A', 'CH000001'))

In [26]:
import pymysql
con = pymysql.connect(host = "192.168.0.70", port=3306, user='root', passwd='20210422a',
                     db='future', charset='utf8', autocommit=True)
try:
    with con.cursor() as cur:
        cur.callproc('student_select','김만덕')
        if(cur.rowcount):
            print(cur.fetchall())
finally:
    cur.close()
    con.close()

OperationalError: (1318, 'Incorrect number of arguments for PROCEDURE future.student_select; expected 1, got 3')

In [ ]:
# list, dict
# ascil 문자코드 1바이트
# unicode 2바이트 문자열

In [1]:
import pymysql
con = pymysql.connect(host = '192.168.0.70',user='root', port=3306 , password='20210422a',
                     db='future', charset='utf8mb4',use_unicode=True, #emogi사용여부
                    cursorclass=pymysql.cursors.DictCursor, autocommit=True)
data = ('에이콘', 90,80,100,'CH000001',0)

try:
    with con.cursor() as cur:
        cur.callproc('student_insert', data)
        cur.execute('SELECT @_student_insert_5') # out변수
        result = cur.fetchone()
        print(result['@_student_insert_5'])
finally:
    con.close()

0

In [3]:
# 문제 : 에어콘의 점수를 100,90,80으로 수정해 보시오 "student_update"를 사용

In [11]:
import pymysql
con = pymysql.connect(host = '192.168.0.70',user='root', port=3306 , password='20210422a',
                     db='future', charset='utf8mb4',use_unicode=True, #emogi사용여부
                    cursorclass=pymysql.cursors.DictCursor, autocommit=True)
data = (17,"에이콘",100,90,80,0)

try:
    with con.cursor() as cur:
        cur.callproc('student_update', data)
        cur.execute('SELECT @_student_update_5') # out변수
        result = cur.fetchone()
        if result['@_student_update_5'] == 2:
            print("수정할 이름이 없습니다.")
        elif result['@_student_update_5'] == -1:
            print("에러가 발생하였습니다.")
        elif result['@_student_update_5'] == 0:
            print("수정 완료")
        else:
            print("알 수 없는 에러")
        con.commit()
finally:
    cur.close()
    con.close()

수정할 이름이 없습니다.

In [ ]:
# student_delete를 이용해서 '에어콘' 이름을 삭제하세요. 리턴값을 확인하여 의미를 출력하세요

In [1]:
import pymysql
con = pymysql.connect(host = '192.168.0.70',user='root', port=3306 , password='20210422a',
                     db='future', charset='utf8mb4',use_unicode=True, #emogi사용여부
                    cursorclass=pymysql.cursors.DictCursor, autocommit=True)
data = ("에이콘",0)

try:
    with con.cursor() as cur:
        cur.callproc('student_delete', data)
        cur.execute('SELECT @_student_delete_1') # out변수
        result = cur.fetchone()
        print(result)
        if result['@_student_delete_1'] == 2:
            print("삭제할 이름이 없습니다.")
        elif result['@_student_delete_1'] == -1:
            print("에러가 발생하였습니다.")
        elif result['@_student_delete_1'] == 0:
            print("삭제 완료")
        else:
            print("알 수 없는 에러")
        con.commit()
finally:
    cur.close()
    con.close()

{'@_student_delete_1': 2}
삭제할 이름이 없습니다.